<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sample Project</span>
    <button routerLink="userTable" mat-button>User Table</button>
    <button routerLink="toDoList" mat-button>To Do List</button>
    <button routerLink="playGround" mat-button>Playground</button>
    <span class="example-spacer"></span>
    <mat-icon>perm_identity</mat-icon>
    <span>{{empName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings applications</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Diagnostic Parameters Configurations</span>
      </button>
      <button mat-menu-item>
        <mat-icon>assessment</mat-icon>
        <span>Diagnostic Requests</span>
      </button>
    </mat-menu>
    <mat-icon>exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<h1>This is a H1</h1>
<button (click)="showTaskToDo()" mat-button>Show List</button>
<app-favourite [isSelected]="favFlag" (changeFav)="onFavouriteChanged()"></app-favourite> -->

<!-- <table *ngIf="taskData.length > 0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
    </tr>
  </thead>
  <tbody>
    <tr [class.table-success]="task.completed" *ngFor="let task of taskData">
      <th scope="row">{{task.id}}</th>
      <td>{{task.name}}</td>
    </tr>
  </tbody>
</table> -->
<!-- <ul>

  <li>
    <a routerLink="userTable">UserTable</a>
  </li>
  <li>
    <a routerLink="toDoList">To Do List</a>
  </li>
  <li>
    <a routerLink="playGround">Blogs</a>
  </li>
</ul> -->
<!-- <router-outlet></router-outlet> -->
<h1>To do list</h1>
<mat-to-do-list [taskList]="taskData" (updateTask)="showTasks($event)"></mat-to-do-list>
<button mat-raised-button color="primary" (click)="showTaskToDo()" mat-button>Show List details</button>
<p class="body-2">Output of the to do list and showTaskToDo() is shown in browser console.</p>
